.ec-trans-modal-content {
    padding: 1em;
}

.ec-trans-modal-header {
    place-content: center space-between;
}

.ec-trans-modal-title {
    margin: 0;
}

.ec-trans-accessory {
    color: var(--text-muted);
    margin-top: 0.5em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.2rem;
    white-space: break-spaces;
}

.ec-trans-accessory-icon {
    margin-right: 0.25em;
}

.ec-trans-dismiss {
    all: unset;
    cursor: pointer;
    color: var(--text-link);
}

.ec-trans-dismiss:is(:hover, :focus) {
    text-decoration: underline;
}

.ec-trans-auto-translate {
    color: var(--green-360);
}

.ec-trans-chat-button {
    scale: 1.085;
}
